{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="sign-in-page lg:container-tight container d-flex justify-content-center align-items-center vh-100">
    <form id="loginForm" class="card card-md w-100 max-h-100 w-sm-400 p-4"
        style="background: transparent; border: none;">
        <div class="row g-6 card-body">
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
                <img src="{{ url_for('static', filename='images/login/food-3.avif') }}" alt="Food 1"
                    class="img-fluid rounded-3">
            </div>

            <div class="col-12 col-lg-6 ">
                <div class="mb-3">
                    <img src="{{ url_for('static', filename='images/logo-tasty.png') }}" alt="Tasty Food"
                        class="img-fluid rounded" style="width: 100%; height: 200px; object-fit: none;">
                    <div class="text-center mb-4">
                        <p style="font-weight: 700; font-size: 20px; line-height: 1.5;">Create an Account
                        </p>
                        <span class="dlab-sign-up text-gray">Sign Up</span>
                    </div>

                </div>
                <div class="mb-3">
                    <label class="form-label text-gray">Email Address</label>
                    <input type="email" class="form-control rounded-3" name="email" placeholder="demo@example.com"
                        required />
                </div>
                <div class="mb-2">
                    <label class="form-label text-gray">Password</label>
                    <input type="password" name="password" class="form-control rounded-3" placeholder="Enter password"
                        required>
                </div>
                <div class="my-5">
                    <label class="form-colorinput form-colorinput-light d-flex align-items-center"
                        style="cursor: pointer;">
                        <input name="color" type="checkbox" value="white" class="form-colorinput-input" checked />
                        <span class="form-colorinput-color bg-white position-absolute"></span>
                        <span class="ms-5 text-gray">Remember my preference</span>
                    </label>
                </div>
                <div class="alert alert-danger mb-2 d-none" id="msg-login"></div>

                <div class="form-footer">
                    <div class="position-relative">
                        <button type="submit" class="btn btn-orange w-100 fst-normal text-uppercase"
                            id="dlab-sign-in-btn">
                            <span class="d-none spinner-border spinner-border-sm me-2" role="status"></span>Sign Me
                            In</button>
                    </div>

                    <div class="text-center my-4">
                        <p class="dlab-sign-up text-gray">Continue With</p>
                    </div>
                </div>
                <div class="mb-3 dlab-signup-icon">
                    <a href="#" class="btn btn-facebook btn-icon btn-outline-light" aria-label="Button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path fill="#3c7daf"
                                d="M576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 440 146.7 540.8 258.2 568.5L258.2 398.2L205.4 398.2L205.4 320L258.2 320L258.2 286.3C258.2 199.2 297.6 158.8 383.2 158.8C399.4 158.8 427.4 162 438.9 165.2L438.9 236C432.9 235.4 422.4 235 409.3 235C367.3 235 351.1 250.9 351.1 292.2L351.1 320L434.7 320L420.3 398.2L351 398.2L351 574.1C477.8 558.8 576 450.9 576 320z" />
                        </svg>
                        Facebook
                    </a>
                    <a href="#" class="btn btn-facebook btn-icon btn-outline-light" aria-label="Button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path fill="#e51515"
                                d="M564 325.8C564 467.3 467.1 568 324 568C186.8 568 76 457.2 76 320C76 182.8 186.8 72 324 72C390.8 72 447 96.5 490.3 136.9L422.8 201.8C334.5 116.6 170.3 180.6 170.3 320C170.3 406.5 239.4 476.6 324 476.6C422.2 476.6 459 406.2 464.8 369.7L324 369.7L324 284.4L560.1 284.4C562.4 297.1 564 309.3 564 325.8z" />
                        </svg>
                        Google
                    </a> <a href="#" class="btn btn-facebook btn-icon btn-outline-light" aria-label="Button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
                            <path fill="#000fe0"
                                d="M512 96L127.9 96C110.3 96 96 110.5 96 128.3L96 511.7C96 529.5 110.3 544 127.9 544L512 544C529.6 544 544 529.5 544 511.7L544 128.3C544 110.5 529.6 96 512 96zM231.4 480L165 480L165 266.2L231.5 266.2L231.5 480L231.4 480zM198.2 160C219.5 160 236.7 177.2 236.7 198.5C236.7 219.8 219.5 237 198.2 237C176.9 237 159.7 219.8 159.7 198.5C159.7 177.2 176.9 160 198.2 160zM480.3 480L413.9 480L413.9 376C413.9 351.2 413.4 319.3 379.4 319.3C344.8 319.3 339.5 346.3 339.5 374.2L339.5 480L273.1 480L273.1 266.2L336.8 266.2L336.8 295.4L337.7 295.4C346.6 278.6 368.3 260.9 400.6 260.9C467.8 260.9 480.3 305.2 480.3 362.8L480.3 480z" />
                        </svg>
                        linkedin
                    </a>
                </div>
                <div class="text-center text-muted mt-4">
                    <div class="text-center"><span>Don't have an account <a class="dlab-sign-up-step"
                                href="{{ url_for('register') }}">
                                Sign up</a></span></div>
                </div>
            </div>
        </div>
    </form>

</section>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}