<div class="relative">
    <div class="banner" style="margin-top: 100px;">
        <div class="container">
            <div class="d-flex gap-5 justify-content-center align-items-center">
                <div class="flex-fill d-flex flex-column justify-content-center align-items-center gap-3 p-5">
                    <h1 class="title-banner">Discover restaurants<br>that deliver food near you</h1>
                    <div class="my-5" style="width: 100%;">
                        <div class="row text-center">
                            <div class="col-md-4 mb-4">
                                <div class="home-features-box p-3 shadow-sm rounded">
                                    <img src="../../static/images/routing.svg" alt="Wide Map" class="img-fluid icon"
                                        width="60">
                                    <h6 class="mb-0 text-white">Wide Map</h6>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="home-features-box p-3 shadow-sm rounded">
                                    <img src="../../static/images/3d-rotate.svg" alt="Easiest Order"
                                        class="img-fluid icon" width="60">
                                    <h6 class="mb-0 text-white">Easiest Order</h6>
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="home-features-box p-3 shadow-sm rounded">
                                    <img src="../../static/images/truck.svg" alt="Most Delivery"
                                        class="img-fluid icon" width="60">
                                    <h6 class="mb-0 text-white">Most Delivery</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex-fill d-none d-md-block">
                    <img src="../../static/images/home-vector.png" class="img-fluid right-vector delivery-shake">
                </div>
            </div>
        </div>

        <img src="../../static/images/popcorn.png" class="img-fluid right-vector bottom-n130">
    </div>
    {% include "layouts/mini-banner.html" %}
</div>