<footer class="footer-section">
    <!-- Main Footer -->
    <div class="container">
        <div class="main-footer">
            <div class="row g-3">
                <!-- Logo + About -->
                <div class="col-xl-4 col-lg-12">
                    <div class="footer-logo-part">
                        <a href="/" class="navbar-brand fw-bold text-white" style="font-size: 2rem; margin-bottom: 1rem;">Tasty Food.</a>
                        <p>
                            Welcome to our online order website! Here, you can browse our wide selection of
                            products and place orders from the comfort of your own home.
                        </p>
                        <!-- Social -->
                        <div class="social-media-part">
                            <ul class="social-icon">
                                <li><a href="#"><i class="ri-facebook-fill icon"></i></a></li>
                                <li><a href="#"><i class="ri-twitter-fill icon"></i></a></li>
                                <li><a href="#"><i class="ri-linkedin-fill icon"></i></a></li>
                                <li><a href="#"><i class="ri-instagram-fill icon"></i></a></li>
                                <li><a href="#"><i class="ri-youtube-fill icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Links -->
                <div class="col-xl-8">
                    <div class="row g-3">
                        <!-- Company -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <h5 class="footer-title">Company</h5>
                            <ul class="content">
                                <li><a href="#"><h6>About us</h6></a></li>
                                <li><a href="#"><h6>Contact us</h6></a></li>
                                <li><a href="#"><h6>Offer</h6></a></li>
                                <li><a href="#"><h6>FAQs</h6></a></li>
                            </ul>
                        </div>

                        <!-- Account -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <h5 class="footer-title">Account</h5>
                            <ul class="content">
                                <li><a href="#"><h6>My orders</h6></a></li>
                                <li><a href="#"><h6>Wishlist</h6></a></li>
                                <li><a href="#"><h6>Shopping Cart</h6></a></li>
                                <li><a href="#"><h6>Saved Address</h6></a></li>
                            </ul>
                        </div>

                        <!-- Useful Links -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <h5 class="footer-title">Useful links</h5>
                            <ul class="content">
                                <li><a href="#"><h6>Blogs</h6></a></li>
                                <li><a href="#"><h6>Login</h6></a></li>
                                <li><a href="#"><h6>Register</h6></a></li>
                                <li><a href="#"><h6>Profile</h6></a></li>
                                <li><a href="#"><h6>Settings</h6></a></li>
                            </ul>
                        </div>

                        <!-- Top Brands -->
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                            <h5 class="footer-title">Top Brands</h5>
                            <ul class="content">
                                <li><a href="#"><h6>PizzaBoy</h6></a></li>
                                <li><a href="#"><h6>Saladish</h6></a></li>
                                <li><a href="#"><h6>IcePops</h6></a></li>
                                <li><a href="#"><h6>Mexican Hoy</h6></a></li>
                                <li><a href="#"><h6>La Foodie</h6></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Footer -->
    <div class="bottom-footer-part container">
        <div class="d-flex align-items-center justify-content-center justify-content-lg-between flex-wrap gap-4">
            <h6>@ Copyright 2025 Tasty Food. All rights Reserved.</h6>
            <img src="/static/images/footer-card.png" alt="card" class="img-fluid cards">
        </div>
    </div>
</footer>
