<!-- Navbar -->

<div class="announcement announcement-header position-fixed">
    <div class="announcement__wrapper body--content" id="promoBannerWrapper">
        <div class="announcement__text d-none" id="promoBannerText">
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-custom-dark border-bottom border-dark sticky-top position-fixed w-100"
    style="top: 40px;">
    <div class="container">
        <!-- Logo + Location -->
        <div class="d-flex align-items-center gap-3 p-1">
            <a href="/" class="navbar-brand fw-bold text-white">Tasty Food.</a>
            <button class=" btn btn-warning d-flex align-items-center gap-1 location-btn fst-normal btn-gradient">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="20" height="20" fill="#fff">
                    <path
                        d="M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z" />
                </svg>
                Location
            </button>
        </div>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
            aria-controls="mobileMenu">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse d-none d-lg-flex">
            <ul class="navbar-nav ms-auto gap-lg-4 ps-2 pe-2">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Order</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Menu listing</a></li>
                        <li><a class="dropdown-item" href="#">Menu grid</a></li>
                        <li><a class="dropdown-item" href="#">Checkout</a></li>
                        <li><a class="dropdown-item" href="#">Order tracking</a></li>
                        <li><a class="dropdown-item" href="#">Payment</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Blog Listing</a></li>
                        <li><a class="dropdown-item" href="#">Blog Details</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pages</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Contact</a></li>
                        <li><a class="dropdown-item" href="#">FAQs</a></li>
                        <li><a class="dropdown-item" href="#">Sign in</a></li>
                        <li><a class="dropdown-item" href="#">Sign up</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            </ul>
        </div>
        
            <!-- Cart + User -->
            <div class="d-flex align-items-center gap-4">

                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#modalSearchProduct" style="background: transparent; width: 20px; height: auto;">
                    <i class="fa-solid fa-magnifying-glass fa-lg" style="
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    size: 30px;
                "></i>
                </button>

                <button type="button" class="btn btn-primary position-relative"
                    style="padding: 0; background: transparent; cursor: pointer !important;" data-bs-toggle="offcanvas"
                    data-bs-target="#cartOffcanvas">
                    <svg viewBox="0 0 24 24" width="30" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 18C8.3 18 9 18.7 9 19.5S8.3 21 7.5 21 6 20.3 6 19.5 6.7 18 7.5 18Z" stroke="#fff"
                            stroke-width="1.5" />
                        <path d="M16.5 18c.8 0 1.5.7 1.5 1.5S17.3 21 16.5 21s-1.5-.7-1.5-1.5.7-1.5 1.5-1.5Z"
                            stroke="#fff" stroke-width="1.5" />
                        <path
                            d="M2 3l.26.09C3.56 3.55 4.21 3.78 4.59 4.32c.37.54.37 1.27.37 2.72V9.76c0 2.94.06 3.91.93 4.82.86.91 2.25.91 5.05.91h1.06m4.22 0c1.56 0 2.34 0 2.89-.45.55-.45.71-1.21 1.02-2.74l.5-2.42c.34-1.74.51-2.64.07-3.22-.44-.58-1.55-.58-3.23-.58h-6.07M5 6.12h2"
                            stroke="#fff" stroke-width="1.5" stroke-linecap="round" />
                    </svg>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
                        id="cart-number" style="color: #fff;">
                        0
                    </span>
                </button>

                <!-- User Dropdown -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex align-items-center" data-bs-toggle="dropdown">
                        <span class="avatar avatar-sm me-2"
                            style="background-image:url(https://images.unsplash.com/photo-1558898479-33c0057a5d12?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)"></span>
                        <span class="d-none d-lg-block" id="username-display" style="color:#fff;"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="{{ url_for('account_bp.profile', tab='user') }}" class="dropdown-item">Profile</a>
                        <a href="{{ url_for('account_bp.profile', tab='orders') }}" class="dropdown-item">My Orders</a>
                        <a href="{{ url_for('account_bp.profile', tab='address') }}" class="dropdown-item">Save
                            Address</a>
                        <a href="{{ url_for('account_bp.profile', tab='card') }}" class="dropdown-item">Save Card</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('account_bp.profile', tab='help') }}" class="dropdown-item">Help</a>
                        <a href="#" id="logoutBtn" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
</nav>

<!-- Offcanvas Cart -->
<div class="offcanvas offcanvas-end position: relative;" tabindex="-1" id="cartOffcanvas" style="width: 500px;">
    <div class="offcanvas-header shadow-lg"
        style="padding: 1rem;background: linear-gradient(to right, #F37335, #FDC830);">
        <h5 class="offcanvas-title" style="color: #fff;font-weight: bolder !important;text-transform: uppercase;">
            Your
            Basket</h5>
        <i class="fa-solid fa-xmark" data-bs-dismiss="offcanvas" style="color: #fff; cursor: pointer;"></i>
    </div>
    <div class="offcanvas-body" style="padding: 0; border-radius: 0;">
        <div class="" id="cart-items">
            <!-- JS sẽ append products vào đây -->
        </div>
    </div>

    <!-- Overlay wrapper -->
    <div id="overlay-modal-cart" style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5); /* màu nền mờ */
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 9999; /* chắc chắn overlay nằm trên */
                display: none; /* ẩn đi mặc định */
                ">
        <div class="spinner-grow text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="offcanvas-footer p-3 border-top d-flex justify-content-between flex-column gap-2">
        <span style="color: #e02424; font-size: .7rem; font-weight: 600;" class="text-warning-empty d-none">
            Please select at least one restaurant before proceeding with your order.</span>
        <div class="d-flex gap-2 justify-content-between">
            <span style="color: #212529; font-weight: bold;">Total:</span>
            <span id="cart-total" style="color: #198754;">$0.00</span>
        </div>
        <button class="btn" style="background: linear-gradient(to right, #F37335, #FDC830); border: none; color: #fff;"
            id="btn-process-checkout">Checkout</button>
    </div>
</div>
</div>

<!-- Offcanvas full-screen for mobile -->
<div class="offcanvas offcanvas-start offcanvas-full" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
    <div class="offcanvas-header border-bottom" style="border-color: #fff !important;">
        <h5 class="offcanvas-title fw-bold" id="mobileMenuLabel">Tasty Food.</h5>
        <div>
            <button style="filter: invert(1);" type="button" class="btn-close" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>

        </div>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav ms-auto gap-lg-4">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                    href="#orderMenu" role="button" aria-expanded="false">
                    Order <span class="ms-2">▼</span>
                </a>
                <ul class="collapse list-unstyled ps-3" id="orderMenu">
                    <li><a class="nav-link" href="#">Menu listing</a></li>
                    <li><a class="nav-link" href="#">Menu grid</a></li>
                    <li><a class="nav-link" href="#">Checkout</a></li>
                    <li><a class="nav-link" href="#">Order tracking</a></li>
                    <li><a class="nav-link" href="#">Payment</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                    href="#blogMenu" role="button" aria-expanded="false">
                    Blog <span class="ms-2">▼</span>
                </a>
                <ul class="collapse list-unstyled ps-3" id="blogMenu">
                    <li><a class="nav-link" href="#">Blog Listing</a></li>
                    <li><a class="nav-link" href="#">Blog Details</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                    href="#pageMenu" role="button" aria-expanded="false">
                    Pages <span class="ms-2">▼</span>
                </a>
                <ul class="collapse list-unstyled ps-3" id="pageMenu">
                    <li><a class="nav-link" href="#">Contact</a></li>
                    <li><a class="nav-link" href="#">FAQs</a></li>
                    <li><a class="nav-link" href="#">Sign in</a></li>
                    <li><a class="nav-link" href="#">Sign up</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        </ul>
    </div>
</div>

<!-- Modal search products -->
<div class="modal" id="modalSearchProduct" tabindex="-1">
    <div class="modal-dialog d-flex justify-content-center align-items-center" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <div class="modal-header-bg"></div>
                <button type="button" class="btn-close btn-close-white p-0"
                    style="width: 24px; height: 24px; top: 10px; right: 10px;" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card" style="border: none;">
                    <div class="d-flex flex-column justify-content-center align-items-center gap-2 shadow-lg"
                        style="background-color: brown;padding: 1.5rem 1rem !important;">
                        <div class="marquee-container">
                            <div class="marquee">
                                <span>Fast, fresh, and reliable food delivery — anytime, anywhere.</span>
                            </div>
                        </div>

                        <div class="input-icon" style="width: 50%;">
                            <input id="searchInput" type="text" value="" class="form-control form-control-rounded"
                                placeholder="Restaurant and dish search..." />
                            <span class="input-icon-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <circle cx="10" cy="10" r="7" />
                                    <line x1="21" y1="21" x2="15" y2="15" />
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div style="position: relative;">
                        <div id="search-list"
                            style="height: 350px;max-height: 350px;overflow-y: auto;color: #182423 !important;"
                            class="list-group list-group-flush list-group-hoverable">
                            <!-- Các item sẽ được render vào đây -->
                        </div>

                        <!-- Overlay wrapper -->
                        <div id="overlay-modal-search-product" style="
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0,0,0,0.5); /* màu nền mờ */
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                z-index: 9999; /* chắc chắn overlay nằm trên */
                                display: none; /* ẩn đi mặc định */
                                ">
                            <div class="spinner-grow text-light" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/cart.js"></script>