<section class="section-b-space" style="padding: 1rem 0;">
    <div class="container my-4 mini-bag-container">
        <div class="d-flex justify-content-center flex-wrap gap-4">

            <!-- Item -->
            <div class="category-item">
                <img src="../../static/images/mini-banner/pizza.png" alt="Pizza" class="category-img">
                <p class="category-text">Pizza</p>
            </div>

            <div class="category-item">
                <img src="../../static/images/mini-banner/chicken.png" alt="Chicken" class="category-img">
                <p class="category-text">Chicken</p>
            </div>

            <div class="category-item active">
                <img src="../../static/images/mini-banner/burger.png" alt="Burger" class="category-img">
                <p class="category-text">Burger</p>
            </div>

            <div class="category-item">
                <img src="../../static/images/mini-banner/fries.png" alt="Fries" class="category-img">
                <p class="category-text">Fries</p>
            </div>

            <div class="category-item">
                <img src="../../static/images/mini-banner/boritto.png" alt="Boritto" class="category-img">
                <p class="category-text">Boritto</p>
            </div>

            <div class="category-item">
                <img src="../../static/images/mini-banner/taco.png" alt="Taco" class="category-img">
                <p class="category-text">Taco</p>
            </div>

            <div class="category-item">
                <img src="../../static/images/mini-banner/muffin.png" alt="Muffin" class="category-img">
                <p class="category-text">Muffin</p>
            </div>

            <div class="category-item">
                <img src="../../static/images/mini-banner/meat.png" alt="Meat" class="category-img">
                <p class="category-text">Meat</p>
            </div>
        </div>
    </div>
</section>