{% extends "base.html" %}

{% block content %}
<!-- HEADER -->
{% include "layouts/header.html" %}

<section id="menu-restaurant">
    <div class="menu-title">
        <div class="container py-4 ">
            <!-- Restaurant Header -->
            <div class="d-flex align-items-start gap-4" style="margin-top: 71px;">
                <div class="position-relative">

                    <img src="{{restaurant.image_url}}" class="img-fluid shadow-lg" alt="Cakes"
                        style="width: 200px; height: 200px; border-radius: 100%; border: 3px dashed green;">

                    <img src="../../static/images/icons8-vegan-96.svg" alt="network" class="img-fluid"
                        style="width: 4rem;height: 4rem;position: absolute;top: -10%;left: 0;transform: rotate(-6deg);transition: rotate(-45deg);">

                </div>
                <div class="d-flex flex-column gap-2">

                    <span class="badge bg-danger p-1" style="color: #fff; width: fit-content;"><i
                            class="fa-solid fa-thumbs-up pe-1"></i>Favorite Restaurant</span>
                    <h3 class="fw-bold">{{restaurant.name}}</h3>
                    <p class="text-muted mb-1">{{restaurant.location}}</p>

                    <!-- Rating -->
                    <div class="d-flex align-items-end mb-2 gap-2">
                        <div id="rating" data-rating="{{restaurant.rating}}"></div>
                        <span class="fw-semibold small">500+ reviews on ShopeeFood</span>
                    </div>
                    <div class="d-flex gap-2">
                        <span class="badge bg-teal text-teal-fg">Service Fee: 0%</span>
                        <span class="badge bg-cyan text-cyan-fg">Service Provided By Tasty Food</span>
                    </div>
                </div>
            </div>

        </div>


        <div class="container py-4" class="menu-content">
            <h4 class="fw-bold mb-3">Menu</h4>
            {% if menu['items'] and menu['items']|length > 0 %}

            <div id="menu-items" class="mt-2">
                {% for product in menu['items'] %}
                <div class="d-flex gap-2 justify-content-between align-items-center m-0"
                    style="border-radius: .5rem; background-color: #fff; padding: .8rem 1rem;">
                    <div class="d-flex gap-2 justify-content-start align-items-center">
                        <img src="{{ product.image_url or 'https://images.unsplash.com/photo-1752028935881-0674807b046c?q=80&w=817&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' }}"
                            class="card-img-top" alt="{{ product.name }}"
                            style="width: 60px; height: 60px; border-radius: .5rem;">
                        <div class="d-flex flex-column gap-1">
                            <h6 class="card-title m-0" style="color: #464646; font-size: .8rem;">{{ product.name }}</h6>
                            <div class="d-flex justify-content-start align-items-center gap-1 m-0">
                                {% if product.discount_pct > 0 %}
                                <p class="fw-bold m-0"
                                    style="color: #6d6f71; font-size: .7rem; text-decoration: line-through;">
                                    ${{ "{:,.2f}".format(product.price) }}
                                </p>
                                <p class="fw-bold m-0" style="color: #0288d1; font-size: .8rem; ">
                                    ${{ "{:,.2f}".format(product.discount_price) }}
                                </p>
                                <!-- <span class="badge bg-danger">-{{ product.discount_pct }}%</span> -->
                                {% else %}

                                <p class="fw-bold m-0" style="color: #0288d1; font-size: .8rem;">
                                    ${{ "{:,.2f}".format(product.price) }}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-start align-items-center">
                        <i data-action="add-to-cart" class="fa-solid fa-square-plus fa-xl cursor-pointer"
                            style="color: #ee4d2d;" data-product-id="{{product.id}}"
                            data-product-discount-price="{{product.discount_price}}"
                            data-product-name="{{product.name}}" data-product-price="{{product.price}}"
                            data-product-img="{{product.image_url}}" data-restaurant-id="{{restaurant.id}}"
                            data-restaurant-name="{{restaurant.name}}"></i>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="empty" style="background: #fff; border-radius: 1rem;">
                <div class="empty-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <line x1="9" y1="10" x2="9.01" y2="10" />
                        <line x1="15" y1="10" x2="15.01" y2="10" />
                        <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                    </svg>
                </div>
                <p class="empty-title">No results found</p>
                <p class="empty-subtitle text-secondary">
                    Try adjusting your search or filter to find what you're looking for.
                </p>
                <div class="empty-action">
                    <a href="#" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="10" cy="10" r="7" />
                            <line x1="21" y1="21" x2="15" y2="15" />
                        </svg>
                        Search again
                    </a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</section>

{% include "layouts/footer.html" %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        function renderRating(value, containerId) {
            const container = document.getElementById(containerId);
            container.innerHTML = '';
            const fullStars = Math.floor(value);
            const halfStar = (value % 1) >= 0.5 ? 1 : 0;
            const emptyStars = 5 - fullStars - halfStar;

            for (let i = 0; i < fullStars; i++) {
                const star = document.createElement('span');
                star.className = 'star';
                star.innerHTML = '<i class="fa-solid fa-star"></i>';
                container.appendChild(star);
            }

            if (halfStar) {
                const star = document.createElement('span');
                star.className = 'star half';
                star.innerHTML = `<i class="fa-solid fa-star-half-stroke"></i>`
                container.appendChild(star);
            }

            for (let i = 0; i < emptyStars; i++) {
                const star = document.createElement('span');
                star.className = 'star';
                star.innerHTML = `<i class="fa-regular fa-star"></i>`;
                container.appendChild(star);
            }
        }

        const ratingEl = document.querySelector("#rating");
        const value = parseFloat(ratingEl.dataset.rating);
        renderRating(value, 'rating');
    });
</script>
{% endblock %}