<section class="brands py-4 section-b-space">
    <div class="container position-relative">
        <div class="">
            <div class="loader-line"></div>
            <h2 class="fw-bold mb-0 pt-3">Brand For You</h2>
            <div class="sub-title mt-2">
                <p>Browse out top brands here to discover different food cuision.</p>
            </div>
        </div>
        <div class="owl-carousel owl-theme" id="brand-carousel" style="background: #fffde9; padding: 1rem 0;">
        </div>
    </div>
</section>