.section-b-space {
  padding: 60px 0;
}

.title h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.sub-title p {
  color: #747474;
  font-size: 1rem;
}

.banner-img {
  transition: transform 0.3s ease;
}

.banner-img:hover {
  transform: scale(1.05);
}

.loader-line {
  width: calc(200px + .01875 * (100vw - 100px));
  height: 2px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 20px;
  position: absolute;
  top: -8px;
}

.loader-line:before {
  content: "";
  position: absolute;
  left: -40%;
  height: 2px;
  width: 10%;
  background: linear-gradient(to right, #f2a93e, #f07054);
  animation: lineAnim 2s linear infinite;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
    left: -40%;
  }

  50% {
    left: 20%;
    width: 60%;
  }

  100% {
    left: 100%;
    width: 100%;
  }
}